/**
 * Layout - Footer
 */

.footer {
  padding: space(5) 0;
  @include background("primary");
  text-align: center;

  &__inner {
    @include row(center);
    gap: space(4);
    @include container();
  }

  &__item {
    display: inline-flex;
    align-items: center;
    @include smallText();

    .icon {
      margin-right: space(1);
    }
  }
}
