/**
 * Layout - G Nav
 */

.gNav {
  @include row(flex-start);
  gap: space(4);
  @include container();
  height: 9rem;
  transition: all 0.5s ease;

  &--shrink {
    height: 6rem;
  }

  &__siteBrand {
    display: block;
    flex: 0 0 auto;
    width: fit-content;
    height: 100%;
    margin: 0;
    transition: all 0.5s ease;

    img {
      width: auto;
      height: 100%;
      transition: all 0.5s ease;
    }
  }

  &__primaryMenu {
    @include listUnstyled();
    @include row();
    gap: space(4);
    flex: 0 0 auto;
    margin: 0;
    font-family: $headingFontFamily;
    font-weight: $headingFontWeight;
    font-size: 1.25rem;
    transition: all 0.5s ease;

    @at-root .gNav--shrink & {
      font-size: 1rem;
    }

    @media (max-width: breakpoint("md") - 0.1) {
      display: none;
    }
  }

  &__menuItem {
    margin: 0;

    a {
      display: block;
      line-height: 1;
    }
  }
}
