/**
 * Layout - Header
 */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(themeColor("lightest"), 0.7);
  transition: all 0.5s ease;

  &:hover {
    background-color: rgba(themeColor("lightest"), 1.0);
  }
}
