/**
 * Project - Section
 */

:target {
  scroll-margin-top: space(5);
}

.section {
  &__inner {
    padding-top: space();
    padding-bottom: space();
    background-color: $bodyBg;

    // Test Responsive Color
    //.section:nth-child(odd) & {
    //  @include background("darker");
    //}
  }

  &__container {
    @include container();
    padding-top: space();
    padding-bottom: space();
  }

  &__row {
    @include row();
  }

  &__col {
    padding: space(3);
  }

  &__heading {
    margin: space(3) 0 space();

    &::after {
      content: "✶";
      color: themeColor("secondary");
      font-size: 1.25em;
      margin-left: space(1);
    }
  }

  &__subHeading {
    margin: 0 0 space(3);
    color: themeColor("dark");
    font-size: 0.875rem;
    letter-spacing: $headingLetterSpacing;

    &::before {
      content: "―";
      color: themeColor("secondary");
      font-weight: 700;
      margin-right: space(1);
    }
  }

  &__content {
    p {
      text-align: justify;
    }

    strong, em {
      font-weight: 600;
      font-style: normal;
      color: themeColor("darker");
      background-color: rgba(themeColor("secondary"), 0.15);
      padding: 0 0.2em;
      border-radius: 0.2em;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0 space(3);
  }

  &__listItem {
    position: relative;

    &::before {
      content: '✶';
      position: absolute;
      top: -0.4em;
      right: calc(100% + 0.4em);
      color: themeColor("primaryLight");
      font-size: 1.5em;
    }

    h4 {
      width: fit-content;
      font-family: $fontFamilySansSerif;
      font-weight: 600;
      font-style: normal;
      font-size: 1rem;
      color: themeColor("darker");
      background-color: rgba(themeColor("primary"), 0.1);
      padding: 0 0.2em;
      border-radius: 0.2em;
    }

    p {
      margin: space(1) 0;
      font-size: 0.875rem;
    }
  }

  &__figure {
    width: min(100%, 45rem);
    margin: 0 auto;
  }
}
